@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #1d4ed8;
}

body::-webkit-scrollbar {
  display: none;
}

.suggestions::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 5px;
  background: transparent;
}

.suggestions::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #dee8f3;
  border-radius: 10px;
}
